<mat-grid-list cols="1"  rowHeight="600">
  <mat-grid-tile>


    <mat-card  class="card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Login</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="form">
          <mat-form-field class="event-full-width">
            <mat-label>Email</mat-label>
            <input matInput #email maxlength="256" placeholder="email" name="email" formControlName="email">
          </mat-form-field>
          <br>
          <mat-form-field class="event-full-width">
            <mat-label>Password</mat-label>
            <input matInput #password maxlength="500" placeholder="Password" name="password"  type="password" formControlName="password">
          </mat-form-field>

        </form>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="login()">Login</button>
      </mat-card-actions>
    </mat-card>

  </mat-grid-tile>
</mat-grid-list>
