.event-card {
  padding:30px;
  margin: 10px;
  width: 100%;
  height:  auto;
  display: block;
  box-sizing: border-box;
}

.event-button {
  padding: 10px;
  margin: 10px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.user-info {
  margin:10px;
}
.text-center {
  text-align: center;
}
