

<mat-grid-list cols="1"  rowHeight="600" >
  <mat-grid-tile >


    <mat-card class="card" >
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Edit: {{currentEvent.name}}</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="form">
          <mat-form-field class="event-full-width">
            <mat-label>Name</mat-label>
            <input matInput #name maxlength="256" placeholder="Event Name" name="name" formControlName="name" [(ngModel)]="currentEvent.name">
            <mat-hint align="start"><strong>Event Name</strong> </mat-hint>
            <mat-hint align="end">{{name.value.length}} / 256</mat-hint>
          </mat-form-field>
          <br>
          <mat-form-field class="event-full-width">
            <mat-label>Description</mat-label>
            <textarea matInput #description maxlength="500" placeholder="Event Description" name="description" formControlName="description" [(ngModel)]="currentEvent.desc"></textarea>
            <mat-hint align="start"><strong>Event Description</strong> </mat-hint>
            <mat-hint align="end">{{description.value.length}} / 500</mat-hint>
          </mat-form-field>
          <br>
          <mat-form-field class="event-full-width">
            <mat-label>Excerpt</mat-label>
            <input matInput #excerpt maxlength="256" placeholder="Excerpt" name="excerpt" formControlName="excerpt" [(ngModel)]="currentEvent.excerpt">
            <mat-hint align="start"><strong>Excerpt</strong> </mat-hint>
            <mat-hint align="end">{{excerpt.value.length}} / 256</mat-hint>
          </mat-form-field>
          <br>
          <mat-form-field class="event-full-width">
            <mat-label>Size</mat-label>
            <input matInput #size maxlength="256" placeholder="Event Size" name="size" formControlName="size" type="number" max="16" min="1" [(ngModel)]="currentEvent.size" >
            <mat-hint align="start"><strong>Size</strong> </mat-hint>
            <mat-hint align="end">{{size.value}} / 16</mat-hint>
          </mat-form-field>

            <div *appIf="+size.value; size:0">Keine Teilnehmer</div>
            <!--<div *appIf="+size.value; size:16">Zu viele Teilnehmer</div>-->
            <ng-template [appIf]="+size.value" [appIfSize]="16"><div>Keine weiteren Teilnehmer möglich</div></ng-template>
          <br>
          <mat-form-field class="event-full-width">
            <mat-label>Start Date</mat-label>
            <input matInput #date maxlength="256" placeholder="Event Start" name="start_date" formControlName="start_date" type="date" [(ngModel)]="currentEvent.start_date">
            <mat-hint align="start"><strong>Start Date</strong> </mat-hint>
          </mat-form-field>
        </form>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="update(currentEvent.id)">Update</button>
      </mat-card-actions>
    </mat-card>

  </mat-grid-tile>
</mat-grid-list>

