<mat-toolbar color="primary" appNavbar appNavbarColor="white">
  <div><span class="title">{{ 'Event App' | myUppercase}}</span></div>
  <div class="navbar-links">
    <div *ngIf="authService.isLoggedIn$ | async">
      <a routerLink="/events">Events</a>
      <a routerLink="/dashboard">Dashboard</a>
      <a routerLink="/login" (click)="logout()">Logout</a>
    </div>
    <div *ngIf="!(authService.isLoggedIn$ | async)">
      <a  routerLink="/login">Login</a>
      <a routerLink="/register">Register</a>
    </div>
  </div>
</mat-toolbar>
